name: breizh_blok
publish_to: "none"

environment:
  sdk: "^3.9.0"
dev_dependencies:
  melos: ^7.3.0

workspace:
  - tools/lint
  - packages/analytics
  - packages/app
  - packages/auth
  - packages/share_content
  - packages/url_launcher

melos:
  name: breizh_blok

  packages:
    - packages/*
    - tools/*

  sdkPath: .fvm/flutter_sdk

  scripts:
    build_runner:
      run: dart run melos exec --fail-fast --order-dependents -- "dart run build_runner build --delete-conflicting-outputs"
      description: Generate files in melos workspace
      packageFilters:
        dependsOn: build_runner

    analyze:
      run: dart run melos exec --concurrency=1 --fail-fast -- "dart analyze . --fatal-infos"
      description: Run Dart analyze in all dart packages.

    test:
      run: dart run melos exec --concurrency=1 --fail-fast -- "flutter test --test-randomize-ordering-seed random"
      description: Run tests.
      packageFilters:
        flutter: true
        dirExists: test

    test:ci:
      run: dart run melos exec --concurrency=1 --fail-fast -- "flutter test --coverage --test-randomize-ordering-seed random"
      description: Run tests.
      packageFilters:
        flutter: true
        dirExists: test
