name: ♻️ CI

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: "google-github-actions/auth@v2"
        with:
          project_id: ${{ secrets.GCLOUD_PROJECT_ID_TEST }}
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER_TEST }}
          service_account: ${{ secrets.SERVICE_ACCOUNT_TEST }}

      - uses: ./.github/actions/install

      - name: Configure firebase
        shell: bash
        run: |
          set -e
          cd packages/app
          dart pub global activate flutterfire_cli
          flutterfire configure $(dart run scripts/configure_firebase.dart --flavor staging)

      - name: Build runner
        env:
          BREIZH_BLOK_API_HOST: ${{secrets.BREIZH_BLOK_API_HOST_TEST}}
          BREIZH_BLOK_AUTH0_CLIENT_ID: ${{secrets.AUTH0_CLIENT_ID}}
          BREIZH_BLOK_AUTH0_AUDIENCE: ${{secrets.AUTH0_AUDIENCE}}
          BREIZH_BLOK_MAPBOX_TOKEN: ${{secrets.MAPBOX_TOKEN_TEST}}
          BREIZH_BLOK_MIX_PANEL_TOKEN: ${{secrets.MIX_PANEL_TOKEN_TEST}}
          BREIZH_BLOK_SENTRY_URL: ""
        run: dart run melos run build_runner --no-select

      - name: Analyze
        run: |
          set -e
          dart run melos run analyze --no-select
          dart run melos run custom_lint

      - name: Unit and Widget tests
        run: dart run melos run test:ci --no-select

      - name: Sonar
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
