name: ♻️ CI

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [ opened, synchronize, reopened ]
  workflow_dispatch: ~

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"

    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/install

      - uses: "google-github-actions/auth@v3"
        with:
          project_id: ${{ secrets.GCLOUD_PROJECT_ID_TEST }}
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER_TEST }}
          service_account: ${{ secrets.SERVICE_ACCOUNT_TEST }}

      - uses: ./.github/actions/configure-firebase
        with:
          flavor: staging

      - uses: "google-github-actions/auth@v3"
        with:
          project_id: ${{ secrets.GCLOUD_PROJECT_ID_RELEASE }}
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER_RELEASE }}
          service_account: ${{ secrets.SERVICE_ACCOUNT_RELEASE }}

      - uses: ./.github/actions/configure-firebase
        with:
          flavor: prod

      - name: Build runner
        env:
          BREIZH_BLOK_API_HOST: ${{secrets.BREIZH_BLOK_API_HOST_TEST}}
          BREIZH_BLOK_AUTH0_CLIENT_ID: ${{secrets.AUTH0_CLIENT_ID}}
          BREIZH_BLOK_AUTH0_AUDIENCE: ${{secrets.AUTH0_AUDIENCE}}
          BREIZH_BLOK_MAPBOX_TOKEN: ${{secrets.MAPBOX_TOKEN_TEST}}
          BREIZH_BLOK_MIX_PANEL_TOKEN: ${{secrets.MIX_PANEL_TOKEN_TEST}}
          BREIZH_BLOK_SENTRY_URL: ""
        run: dart run melos run build_runner --no-select

      - name: Analyze
        run: |
          set -e
          dart run melos run analyze --no-select

      - name: Unit and Widget tests
        run: dart run melos run test:ci --no-select

      - name: Sonar
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
